
<div class="index-container">
<!-- NavBar -->


<!-- <p>Animated Sidenav Example</p>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>
 -->

<div class="header-text">
  <h2> JoBot found these <strong><%= @jobs.count %></strong> jobs for you!</h2>
</div>


<div class="card-holder">

    <% @jobs.each do |job| %>
      <div class="cards">
        <%= image_tag 'default-job.png', class: "default_job" %>
          <div class="card-info">
            <h3><%= job.job_title.truncate(25) %></h3>
            <h5><%# job.location.truncate(30) %></h5>
            <h5><%= job.date_posted %></h5>
            <p><%# job.total_compensation.truncate(35) %></p>
            <p><%= job.description.truncate(40) %></p>
          </div>
          <div class="overlay">
            <a href="job_path">View Job</a>
          </div>
      </div>

    <% end %>
  </div>



  <div class="down-arrow-click">
    <a href="#"><i class="fa fa-angle-down"></i></a>
  </div>

<!-- container end div -->
</div>
