<h1>Jobs#index</h>
<h2>Reed</h2>
  <% @jobs.each do |job| %>
    <div class="card-job">
      <p><%= job.job_title %></p>
      <p><%= job.location %></p>
      <p><%= job.description %></p>
      <p><%= job.total_compensation %></p>
      <p><%= job.date_posted %></p>
    </div>
  <% end %>


