
<div class="index-container">
<!-- NavBar -->

<div class="sidebar-nav">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()"><i class="fas fa-sliders-h"></i></i></span>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
</div>

<div class="index-body">

<div class="header-text">
  <h2> JoBot found these <strong><%= @jobs.count %></strong> jobs for you!</h2>
</div>


<div class="card-holder">

    <% @jobs.each do |job| %>
      <div class="cards">
        <% if job.company.logo? %>
          <%= cl_image_tag job.company.logo, class: 'm-2' %>
        <% else %>
          <%= image_tag("default-job.png", class: 'm-2') %>
        <% end %>
          <div class="card-info">
            <h3><%= job.score(current_user) || 0 %></h3>
            <h3><%= job.job_title.truncate(25) %></h3>
            <h5><%= job.location.gsub(/(?<=[a-z])(?=[A-Z])/, ' ') %></h5>
            <h6>Posted: <%= job.date_posted %></h6>
            <p><%= job.total_compensation.partition('per').first %></p>
            <p><%= job.description.partition('Apply now').last.truncate(50) %></p>
          </div>
          <div class="overlay">
            <%= link_to 'View Job', job_path(job) %>
          </div>
      </div>

    <% end %>
  </div>



  <div class="down-arrow-click">
    <a href="#"><i class="fa fa-angle-down"></i></a>
  </div>
</div>

<!-- container end div -->
</div>
