<!-- NavBar -->

<h2>Animated Sidenav Example</h2>
<p>Click on the element below to open the side navigation menu.</p>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<div class="card-holder">
  <% @jobs.each do |job| %>
    <div class="card-job">
      <h3><%= job.job_title %></h3>
      <h5><%= job.location %></h5>
      <h5><%= job.date_posted %></h5>
      <p><%= job.total_compensation %></p>
      <p><%= job.description %></p>
    </div>
  <% end %>
</div>


