<% visa_ternary = @visa_binary ? "tag-green" : "tag-grey" %>
<% compensation_ternary = @total_compensation_binary ? "tag-green" : "tag-grey" %>
<% years_experience_ternary = @years_experience_binary ? "tag-green" : "tag-grey"  %>

<div class="show-container">
  <div class="back-btn">
    <%= link_to jobs_path do %>
    <i class="fas fa-arrow-left" style="font-size: 30px;"></i>
    <% end %>
  </div>
  <div class="show-holder">
    <div class="show-header">
      <div class="show-header-text d-flex ">
        <div class="show-header-score">
          <%= cl_image_tag @job.company.logo, class: '' %>
        </div>
        <div class="show-job-title-holder">
          <div class="width-70">
            <h2 class="show-job-title"><%= @job.job_title.upcase.gsub(/(?<=[a-z])(?=[A-Z])/, ' ') %></h2>
            <h3 class="show-job-details"><%= @job.company.name.titleize.gsub(/(?<=[a-z])(?=[A-Z])/, ' ') %></h3>
            <h5 class="show-job-details"><%= @job.location.gsub(/(?<=[a-z])(?=[A-Z])/, ' ') %></h5>
          </div>
        </div>
      </div>
      <div class="show-header-score">
        <div class="progress--circle progress--75">
          <div class="progress__number"><%= @job.percentage(current_user) %>%</div>
        </div>
      </div>
    </div>
    <div class="show-content">
      <div class="show-content-details">
        <div class="show-job-match light-grey">This job matches <span class="highlight"><%= @job.percentage(current_user) %>%</span> of your requirements!</div>
        <div class="show-content-details-row">
          <div class="show-content-tag">
            <h5 class="light-grey margin-bottom">job title:</h5>
            <span class="tag-green"><%= current_user.job_title %></span>
          </div>
          <div class="show-content-tag">
            <h5 class="light-grey margin-bottom">location:</h5>
            <span class="tag-green"><%= current_user.location %></span>
          </div>
          <div class="show-content-tag">
            <h5 class="light-grey margin-bottom">visa:</h5>
            <span class="<%= visa_ternary %>"><%= current_user.visa_sponsor ? "Yes please!" : "No need" %></span>
          </div>
          <div class="show-content-tag">
            <h5 class="light-grey margin-bottom">years of experience:</h5>
            <span class="<%= years_experience_ternary %>"><%= current_user.years_experience %></span>
          </div>
        </div>
        <div class="show-content-details-row">
          <div class="show-content-tag">
            <h5 class="light-grey margin-bottom">education:</h5>
            <% education_degree_ternary = Job.search_by_description(current_user.education_degree).include?(@job) ? "tag-green" : "tag-grey" %>
            <span class="<%= education_degree_ternary %>"><%= current_user.education_degree %></span>
          </div>
          <div class="show-content-tag">
            <h5 class="light-grey margin-bottom">total compensation:</h5>
            <span class="<%= compensation_ternary %>"><%= current_user.total_compensation %></span>
          </div>
          <div class="show-content-tag">
            <h5 class="light-grey margin-bottom">posted:</h5>
            <span class="tag-green"><%= @job.date_posted %></span>
          </div>
          <div class="show-content-tag">
            <h5 class="light-grey margin-bottom">employment type:</h5>
            <% employment_type_ternary = Job.search_by_employment_type(current_user.employment_type).include?(@job) ? "tag-green" : "tag-grey" %>
            <span class="<%= employment_type_ternary %>"><%= current_user.employment_type %></span>
          </div>
        </div>
        <div class="show-content-details-row">
          <div class="show-content-tag">
            <h5 class="light-grey margin-bottom">skills:</h5>
              <% current_user.skills.each do |s| %>
                <% skill_ternary = Job.search_by_description(s.name).include?(@job) ? "tag-green" : "tag-grey" %>
                <span class="<%= skill_ternary %>"><%= s.name %></span>
              <% end %>
          </div>
          <div class="show-content-tag">
            <h5 class="light-grey margin-bottom">keywords:</h5>
              <% current_user.industries.each do |i| %>
              <% industry_ternary = Job.search_by_description(i.name).include?(@job) ? "tag-green" : "tag-grey" %>
                <span class="<%= industry_ternary %>"><%= i.name %></span>
              <% end %>
          </div>
          <div class="show-content-tag">
            <h5 class="light-grey margin-bottom">languages:</h5>
              <% current_user.languages.each do |l| %>
              <% language_ternary = Job.search_by_description(l.name).include?(@job) ? "tag-green" : "tag-grey" %>
                <span class="<%= language_ternary %>"><%= l.name %></span>
              <% end %>
          </div>
        </div>
      </div>
      <div class="show-links">
        <div class="align-text-center">
          <!-- <h5 class="turquoise-text">save this job</h5> -->
          <% if @job_saved == nil %>

            <%= link_to job_saved_jobs_path(@job), method: :post do %>
              <i class="far fa-heart"></i>
            <% end %>
         <% else %>
            <%= link_to saved_job_path(@job_saved), method: :delete do %>
              <i class="fas fa-heart"></i>
            <% end %>
          <% end %>
        </div>
        <div>
          <h5 class="turquoise-text">Apply Now</h5>
          <div class="grid-links">
            <div class="grid-link">
              <%= link_to @job.url do %>
              <%= image_tag 'reed.png', class: "grid-link-img" %>
              <% end %>
            </div>
            <div class="grid-link">
              <%= image_tag 'linkedin.png', class: "grid-link-img" %>
            </div>
            <div class="grid-link">
              <%= image_tag 'monster.png', class: "grid-link-img" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

