<div class="user-container">
  <div class="user-info">

    <div class="profile">
      <div class="user-avatar">
        <%= image_tag "default-user.png", class: "avatar-large", alt: "avatar-large" %>
      </div>
      <div class="user-name">
        <h2 class="mb-0"> <%= @user.name %> </h2>
        <p class="mb-0"> <%= @user.email %> </p>
      </div>
    </div>

    <div class="user-form">
      <%= render 'shared/preference_form' %>
    </div>
  </div>

  <div class="user-jobs">
    <div class="header-text border-bottom-0">
      <h2>You have XX saved jobs</h2>
    </div>

      <% @user.jobs.each do |job| %>
      <div class="card-saved">
        <div class="card-info">
          <h3><%= job.score(current_user) || 0 %></h3>
          <h3><%= job.job_title.truncate(25) %></h3>
          <h5><%= job.location.gsub(/(?<=[a-z])(?=[A-Z])/, ' ') %></h5>
          <h6>Posted: <%= job.date_posted %></h6>
          <p><%= job.total_compensation.partition('per').first %></p>
          <p><%= job.description.partition('Apply now').last.truncate(50) %></p>
        </div>
        <div class="overlay">
          <%= link_to 'View Job', job_path(job) %>
        </div>
      </div>
      <% end %>
  </div>

</div>
