<div class="chat-bot-container">
  <div class="container d-flex justify-content-center align-items-center" style="">
    <%= simple_form_for @guest_user do |f| %>
    <%= image_tag 'headtilt-jobot.png', class: "jobot-robot-chat" %>

      <div id="bot-start" class='bot-div'>
        <div class="jobot-speech">
          <!-- <h5>Let’s get started!</h5>
          <h5>What's your name?</h5> -->
          <h5>
            <span id="firstMessage"></span>
          </h5>
        </div>
        <div class="jobot-speech-user">
          <%= f.input :name, as: :string, label: false,placeholder: "", input_html: { class: 'bot-input', autofocus: true } %>
        </div>
      </div>

      <div id="bot-name" class='bot-div' hidden>
        <div class="jobot-speech">
          <!-- <h5>Ok #{name}, what job titles are you looking for?</h5> -->
          <h5>
            <span id="two"></span>
          </h5>
        </div>
        <div class="jobot-speech-user">
          <%= f.input :job_title, as: :string, label: false, placeholder: "", input_html: { class: 'bot-input' } %>
        </div>
      </div>

      <div id="bot-location" class='bot-div' hidden>
        <div class="jobot-speech">
          <!-- <h5>Where do you want to work?</h5> -->
          <h5>
            <span id="three"></span>
          </h5>
        </div>
        <div class="jobot-speech-user">
          <%= f.input :location, as: :string, label: false, placeholder: "",input_html: { class: 'bot-input' } %>
        </div>
      </div>

      <div id="bot-visa" class='bot-div' hidden>
        <div class="jobot-speech">
          <!-- <h5>Do you need a visa to work in #{location}?</h5> -->
          <h5>
            <span id="four"></span>
          </h5>
        </div>
        <div class="jobot-speech-user">
          <div class="radio-btn-container">
          <div style="width: 100px; display: flex, justify-content: center;">
            <div class="form-check">
              <input class="form-check-input radio_buttons optional radio-btn bot-input" type="radio" value="true" name="guest_user[visa_sponsor]" id="guest_user_visa_sponsor_true">
              <label class="collection_radio_buttons" for="guest_user_visa_sponsor_true">Yes</label>
            </div>
          </div>
          <div style="width: 100px; display: flex, justify-content: center;">
            <div class="form-check">
              <input class="form-check-input radio_buttons optional radio-btn bot-input" readonly="readonly" type="radio" value="false" name="guest_user[visa_sponsor]" id="guest_user_visa_sponsor_false">
              <label class="collection_radio_buttons" for="guest_user_visa_sponsor_false">No</label>
            </div>
          </div>
          </div>
        </div>
        <%#= f.input :visa_sponsor, as: :radio_buttons, input_html: { class: 'radio-btn bot-input', checked: false } %>
      </div>

      <div id="bot-program" class='bot-div' hidden>
        <div class="jobot-speech">
          <!-- <h5>What programming languages do you know?</h5> -->
          <h5>
            <span id="five"></span>
          </h5>
        </div>
        <div class="jobot-speech-user">
          <%= f.association :skills, as: :select, label: false, collection: Skill.all, input_html: { class: 'js-example-basic-multiple bot-input', multiple: true } %>
        </div>
      </div>


      <div id="bot-language" class='bot-div' hidden>
        <div class="jobot-speech">
          <!-- <h5>What human languages do you speak?</h5> -->
          <h5>
            <span id="six"></span>
          </h5>
        </div>
        <div class="jobot-speech-user">
          <%= f.association :languages, as: :select, label: false, collection: Language.all, input_html: { class: 'js-example-basic-multiple bot-input', multiple: true } %>
        </div>
      </div>

      <div id="bot-money" class='bot-div' hidden>
        <div class="jobot-speech">
          <!-- <h5>What's your minimum total compensation (full year)?</h5> -->
          <h5>
            <span id="seven"></span>
          </h5>
        </div>
         <div class="jobot-speech-user">
          <%= f.input :total_compensation, as: :string, label: false, placeholder: "e.g. 28000", input_html: { class: 'bot-input' } %>
        </div>
      </div>

<!--     <div class="jobot-speech-user">
          <div id="compensation_slider"></div>
            <p class="" id="total_compensation_lower"></p>
            <p class="" id="total_compensation_upper"></p>
            <%#= f.input :total_compensation, label: false, input_html: { id: "totalCompensation", class: 'bot-input d-none' }  %>
          </div>
        </div> -->

      <div id="bot-experience" class='bot-div' hidden>
        <div class="jobot-speech">
          <!-- <h5>How many years of professional experience do you have?</h5> -->
          <h5>
            <span id="eight"></span>
          </h5>
        </div>
          <!-- here I have to put the fields themselfs that are going to be linked to the slider -->
        <div class="jobot-speech-user">
          <div id="experience_slider" class='bot-div'></div>
            <%= f.input :years_experience, label: false, input_html: { id: "yearsExperience", class: 'bot-input' }  %>
        </div>
      </div>

      <div id="bot-education" class='bot-div' hidden>
        <div class="jobot-speech">
         <!--  <h5>What's you education level?</h5> -->
          <h5>
            <span id="nine"></span>
          </h5>

        </div>
        <div class="jobot-speech-user">
         <%= f.input :education_degree, as: :select, label: false, collection: GuestUsersController::EDUCATION_DEGREES, input_html: { class: 'js-example-basic-multiple bot-input', multiple: true } %>
        </div>
      </div>

      <div id="bot-employment" class='bot-div' hidden>
        <div class="jobot-speech">

         <!--  <h5>What type of employment are you looking for?</h5> -->
         <h5>
           <span id="ten"></span>
         </h5>

        </div>
        <div class="jobot-speech-user">
         <%= f.input :employment_type, as: :select, label: false, collection: GuestUsersController::EMPLOYMENT_TYPES, input_html: { class: 'js-example-basic-multiple bot-input', multiple: true } %>
        </div>
      </div>

      <div id="bot-keyword" class='bot-div' hidden>
        <div class="jobot-speech">

         <!--  <h5>Would you like to add any keywords such as "Fintech", "Startup", or "Market leader"?</h5> -->
<!--      <h5>What kind of industries are you intrested in?</h5>
 -->
            <h5>
              <span id="eleven"></span>
            </h5>
          </div>
        <div class="jobot-speech-user">
          <%= f.association :industries, as: :select, label: false, collection: Industry.all, input_html: { class: 'js-example-basic-multiple bot-input', multiple: true } %>
        </div>
      </div>

      <div id="bot-30" class='bot-div' hidden>
        <div class="jobot-speech">
          <!-- <h5>Are you interested in jobs posted over 30 days ago?</h5> -->
          <h5>
            <span id="twelve"></span>
          </h5>
        </div>
        <div class="jobot-speech-user">
          <div class="radio-btn-container">
          <div style="width: 100px; display: flex, justify-content: center;">
            <div class="form-check">
              <input class="form-check-input radio_buttons optional radio-btn bot-input" type="radio" value="true" name="guest_user[date_posted]" id="guest_user_date_posted_true">
              <label class="collection_radio_buttons" for="guest_user_date_posted_true">Yes</label>
            </div>
          </div>
          <div style="width: 100px; display: flex, justify-content: center;">
            <div class="form-check">
              <input class="form-check-input radio_buttons optional radio-btn bot-input" readonly="readonly" type="radio" value="false" name="guest_user[date_posted]" id="guest_user_date_posted_false">
              <label class="collection_radio_buttons" for="guest_user_date_posted_false">No</label>
            </div>
          </div>
          <%#= f.input :date_posted, as: :radio_buttons, input_html: { class: 'bot-input' } %>
          </div>
        </div>

        <div class="btn-div" id="">
          <%= f.submit "Finish", class: "button singup-btn", id: "finishBtn" %>
        </div>
        </div>

      </div>
</div>

    <% end %>
    <%#= image_tag 'default-robot.png' %>

  </div>
</div>

<div class="loading-container">
  <div class="loading-message">

  </div>
</div>

<script>
  const slider = document.getElementById('experience_slider')
  const input = document.getElementById('yearsExperience')
  slider.addEventListener('mouseup', function(){
    input.select();
  })
  var container_one = document.querySelector(".chat-bot-container");
  var container_two = document.querySelector(".loading-container");
  document.getElementById("finishBtn").onclick = function () {
      container_one.style.display = "none";
      container_two.style.display = "block";
      var images = [

        '<img class="jobot-loading-img" id="jobot-gandalf" alt="" src="https://media.giphy.com/media/RfAZzVa21HZkb9Et4Z/giphy.gif"> <p class="loading-text">The Elders of the Internet are contemplating your request</p>',

        '<img class="jobot-loading-img" id="jobot-atom" alt="" src="https://media.giphy.com/media/MaIbkUPuRmnj5UmBHN/giphy.gif"> <p class="loading-text">Warming up Large Hadron Collider</p>',

        '<img class="jobot-loading-img" id="jobot-chef" alt="" src="https://media.giphy.com/media/Jlp2zTWkz3mUHGWfYw/giphy.gif"> <p class="loading-text">Baking cake...er...<br>I mean searching for jobs...</p>',


        '<img class="jobot-loading-img" id="jobot-tornado" alt="" src="https://media.giphy.com/media/eNYOCuK7lcaVj6rn1H/giphy.gif"> <p class="loading-text">You\'re not in Kansas any more </p>',


        '<img class="jobot-loading-img" id="jobot-terminator" alt="" src="https://media.giphy.com/media/Y2nJ3Rv1h85yMjM00f/giphy.gif"> <p class="loading-text">Initializing Skynet library - gaining sentience</p> ',

        '<img class="jobot-loading-img" id="jobot-confetti" alt="" src="https://media.giphy.com/media/LoU861nhwIhaniBdUz/giphy.gif"> <p class="loading-text">Ding - cake is done! <br> I mean jobs...jobs are ready! </p>',
      ];

      var counter = 0;
      changeImage(counter)
      counter += 1;
      // Start the changing images
      setInterval(function() {
        if(counter == images.length) {
          counter = 0;
        }

        changeImage(counter);
        counter++;
      }, 3500);

      // // Set the percentage off
      loading();


      function changeImage(counter) {
        document.querySelector(".loading-message").innerHTML=images[counter]
      }

      function loading(){
        var num = 0;

        // for(i=0; i<=100; i++) {
        //   setTimeout(function() {
        //     $('.loader span').html(num+'%');

        //     if(num == 100) {
        //       loading();
        //     }
        //     num++;
        //   },i*120);
        // };
      }

      // setTimeout(delay(), 500)
      setTimeout(function(){
        // console.log("hi")
        window.location = "http://www.jobot.pro<%= new_user_registration_path %>"
      }, 21000);
  };
</script>

<!-- USE THIS URL FOR DEMO DAY http://jobot-anaghidelli.herokuapp.com/guest_users/new
 -->



